Source: platincoin
Section: misc
Priority: extra
Maintainer: PlatinCoin <norepy@plc-group.ag>
Build-Depends:
  debhelper (>= 5), autotools-dev, libboost-chrono-dev, libboost-filesystem-dev, libboost-program-options-dev,
  libboost-system-dev, libboost-test-dev, libboost-thread-dev, libevent-dev, libminiupnpc-dev, libprotobuf-dev,
  libqrencode-dev, qttools5-dev, libssl-dev, libzmq3-dev 
Package: platincoin
Version:<<<please check ci script and fix line no for sed>>>
Architecture: amd64
Description: PlatinCoin Node
